@media screen and  (max-width: 512px){
body{
    background-color: lightgrey;
}
    .rapper {
        width: 100%;
        height: auto;
        margin-inline: auto;
        /* padding: 0.5rem; */
      

    }
    header {
        width: 100%;
        height: 20%;
       
    }
    .katsina{
        width: 100%;
      
    }
    .link > a {
        display:none;
    }
    nav{
        height: auto;
        display: block;
    }
    .img {
        width: 100%;
        height: 100%;
    }
    .img > h1{
        font-size: 2rem;
        padding: 1rem;
    }
    .bar{
        left: 0;
    }
    .our{
        width: 50%;
        padding: 8px;
        border-radius: 40%;
    }
    main{
        width: 100%;
        height: auto;
    }
    main > h3{
        font-size: 2rem;
        text-align: center;
        font-weight: bolder;
    }
article{
    width: 100%;
}
div > abbr {
    font-size: 1.2rem;
}
.button {
    width: 30%;
font-size: 10px;

}
.big {
    width: 100%;
    height: 100%;

}
h4{
    font-size: 1.5rem;
    padding: 3rem;
}
hr{
    bottom: 2rem;
}
.big > div {
     width: 100%;
display: grid;
grid-template-columns: repeat(5,140px);
    
}
.more {
    width: 100%;
    padding: 1rem ;
    margin-left: 0;
    font-size: 15px;
    border: 1px solid;
}
.cointainer{
    width: 100%;
    height: 100%;
    padding: 7rem;
}
.container > .years {
    width: 100%;
  margin-inline:auto ;
}
.container > .completed{

    width: 100%;
}
}



    
